.premium-text-gradient {
    --bg-size: 400%;
    --color-one: #fff;
    --color-two: #e2d784;
    background: linear-gradient(90deg,var(--color-one),var(--color-two),var(--color-one)) 0 0 /var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: premiumText 18s linear infinite;
}

@keyframes premiumText {
    to {
        background-position:var(--bg-size) 0
    }
}